:root {
  --darkorange: #D52D00;
  --orange: #EF7627;
  --lightorange: #FF9A56;
  --tintedorange: #FE8D4D;
  --pink: #D162A4;
  --tintedpink: #CA5798;
  --dustypink: #B55690;
  --darkrose: #A30262;
  --lightblue: #8FD4F5;
  --tintedblue: #82CDF3;
  --darkblue: #216480;
  --lightgrey: #C5C5C5;
  --darkgrey: #A4A2A2;
  --black: #000000;
  --white: #ffffff;
  --content-padding: 30px;
  --small-content-padding: 10px;
  --container-width: 1000px;
  --header-offset-min: 10vh;
  --header-offset-max: 20vh;
  --header-offset: var(--header-offset-max);
}
@media only screen and (max-width: 585px) {
  :root {
    --header-offset-max: max(15vh, 2.5em);
  }
}
@media only screen and (max-width: 520px) {
  :root {
    --header-offset-max: max(10vh, 2.5em);
  }
}
@media only screen and (max-width: 410px) {
  :root {
    --content-padding: 15px;
    --header-offset-max: 10vh;
  }
}
:root {
  scroll-behavior: smooth;
}

.fg-darkorange {
  color: var(--darkorange);
}

.bg-darkorange {
  background-color: var(--darkorange);
}

.bc-darkorange {
  border-color: var(--darkorange) !important;
}

.fg-orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.bc-orange {
  border-color: var(--orange) !important;
}

.fg-lightorange {
  color: var(--lightorange);
}

.bg-lightorange {
  background-color: var(--lightorange);
}

.bc-lightorange {
  border-color: var(--lightorange) !important;
}

.fg-tintedorange {
  color: var(--tintedorange);
}

.bg-tintedorange {
  background-color: var(--tintedorange);
}

.bc-tintedorange {
  border-color: var(--tintedorange) !important;
}

.fg-pink {
  color: var(--pink);
}

.bg-pink {
  background-color: var(--pink);
}

.bc-pink {
  border-color: var(--pink) !important;
}

.fg-tintedpink {
  color: var(--tintedpink);
}

.bg-tintedpink {
  background-color: var(--tintedpink);
}

.bc-tintedpink {
  border-color: var(--tintedpink) !important;
}

.fg-dustypink {
  color: var(--dustypink);
}

.bg-dustypink {
  background-color: var(--dustypink);
}

.bc-dustypink {
  border-color: var(--dustypink) !important;
}

.fg-darkrose {
  color: var(--darkrose);
}

.bg-darkrose {
  background-color: var(--darkrose);
}

.bc-darkrose {
  border-color: var(--darkrose) !important;
}

.fg-lightblue {
  color: var(--lightblue);
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bc-lightblue {
  border-color: var(--lightblue) !important;
}

.fg-tintedblue {
  color: var(--tintedblue);
}

.bg-tintedblue {
  background-color: var(--tintedblue);
}

.bc-tintedblue {
  border-color: var(--tintedblue) !important;
}

.fg-darkblue {
  color: var(--darkblue);
}

.bg-darkblue {
  background-color: var(--darkblue);
}

.bc-darkblue {
  border-color: var(--darkblue) !important;
}

.fg-lightgrey {
  color: var(--lightgrey);
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.bc-lightgrey {
  border-color: var(--lightgrey) !important;
}

.fg-darkgrey {
  color: var(--darkgrey);
}

.bg-darkgrey {
  background-color: var(--darkgrey);
}

.bc-darkgrey {
  border-color: var(--darkgrey) !important;
}

.fg-white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.bc-white {
  border-color: var(--white) !important;
}

.fg-black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.bc-black {
  border-color: var(--black) !important;
}

body {
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: -2.5vh;
  height: max(22.5vh, 3.5em);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: end;
  transition: 0.2s;
  z-index: 1000;
}

header .header-inner {
  position: sticky;
  top: 0;
  display: flex;
  width: var(--container-width);
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 410px) {
  header .header-inner.container {
    padding: 0 var(--small-content-padding);
  }
}

header img.header-logo, header img.header-logo-small {
  height: max(18vh, 2em);
  padding: 0;
  margin: 0;
  margin-bottom: 1vh;
  transition: 0.2s;
}

header img.header-logo-small {
  display: none;
}

header nav {
  height: max(20vh, 2.5em);
  display: flex;
  align-items: end;
  transition: 0.2s;
}

header.shrunk {
  height: max(12.5vh, 3.5em) !important;
}
header.shrunk img.header-logo {
  height: max(8vh, 2em);
}
header.shrunk nav {
  height: max(10vh, 2.5em);
}

@media only screen and (max-width: 585px) {
  header {
    height: max(17.5vh, 3.5em) !important;
    top: 0 !important;
  }
  header img.header-logo {
    height: max(13vh, 2em) !important;
  }
  header nav {
    height: max(15vh, 2.5em);
  }
}
@media only screen and (max-width: 520px) {
  header {
    height: max(12.5vh, 3.5em) !important;
    top: 0 !important;
  }
  header img.header-logo {
    height: max(8vh, 2em) !important;
  }
  header nav {
    height: max(10vh, 2.5em);
  }
}
@media only screen and (max-width: 460px) {
  header img.header-logo {
    display: none;
  }
  header img.header-logo-small {
    display: block !important;
    height: 12vw;
  }
}
a.nav-item {
  display: block;
  padding: 15px;
  transition: background 0.5s;
  color: var(--white);
  text-decoration: none;
  min-height: calc(10vh - 30px);
  cursor: pointer;
}
a.nav-item:hover:not(.no-hover), a.nav-item.active, a.nav-item:focus:not(.no-hover) {
  background-color: var(--pink);
}
a.nav-item:hover:not(.no-hover).nav-item-darkorange, a.nav-item.active.nav-item-darkorange, a.nav-item:focus:not(.no-hover).nav-item-darkorange {
  background-color: var(--darkorange) !important;
}

spacer {
  display: block;
  height: var(--content-padding);
}

spacer.large {
  height: calc(2 * var(--content-padding));
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.h-1em {
  height: 1em;
}

.h-0_5em {
  height: 0.5em;
}

.h-0_75em {
  height: 0.75em;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-content {
  padding: var(--content-padding) !important;
}

.ph-content {
  padding-left: var(--content-padding) !important;
  padding-right: var(--content-padding) !important;
}

.ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.p-0 {
  padding: 0 !important;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.va-middle {
  vertical-align: middle;
}

.va-top {
  vertical-align: top;
}

.fs-1_5em {
  font-size: 1.5em;
}

.fs-2em {
  font-size: 2em;
}

.fs-2rem {
  font-size: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-2em {
  margin-left: 2em !important;
}

.m-0 {
  margin: 0 !important;
}

.b-left {
  border-left: 2px solid var(--darkrose);
}

.b-bottom {
  border-bottom: 2px solid var(--darkrose);
}

.b-0 {
  border: none !important;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

body.high-contrast .hc-fg-black {
  color: var(--black) !important;
}
body.high-contrast .hc-bg-black {
  background-color: var(--black) !important;
}
body.high-contrast .button-high-contrast {
  background-color: var(--white) !important;
  color: var(--black) !important;
}
body.high-contrast blockquote.bg-quotation-darkrose::before, body.high-contrast blockquote.bg-quotation-pink::before {
  content: "";
  width: 3em;
  height: 3em;
  top: -2em;
  left: -3em;
}

@media (prefers-contrast: more) {
  body .hc-fg-black {
    color: var(--black) !important;
  }
}
hero {
  background-image: url("../assets/pexels-elly-fairytale-4834142-fullhd.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 60vh;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: -1;
}
hero center {
  position: absolute;
  bottom: 10vh;
  width: 100%;
}
hero center h1 {
  width: 90%;
  font-size: 2.75rem;
  text-wrap: balance;
}

main {
  min-height: 80vh;
}
main h1, main h2, main h3, main h3, main h4, main h5, main h6 {
  margin-bottom: 0px;
  text-align: left;
  line-height: 1em;
}
@media only screen and (max-width: 700px) {
  main .hide-single-column {
    display: none !important;
  }
}
main a[id], main h1[id], main h2[id], main h3[id], main h4[id], main h5[id], main h6[id], main section[id] {
  scroll-margin-top: var(--header-offset);
}
main div.wrapper {
  padding: var(--small-content-padding) 0;
  position: relative;
}
main a {
  color: var(--darkrose);
  display: inline-block;
}
main hr {
  height: 2px;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--darkrose);
  background-color: var(--darkrose);
}
main ul.inline-list {
  padding: 0;
  font-size: 0;
  text-align: left;
}
main ul.inline-list li {
  font-size: 1rem;
  display: inline list-item;
  list-style: none;
}
main ul.inline-list li:first-of-type {
  display: inline;
  background: none;
}
main ul.inline-list li:first-of-type::before {
  display: none;
}
main ul.inline-list li::before {
  content: "";
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  background: url("../assets/asterisk-with-colors.svg") no-repeat center center;
  margin: 0 1ex;
}

.wrapper.bg-asterisk-pink::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/asterisk-tintedpink-rotated.svg") no-repeat;
  height: 100%;
  width: calc(0.25 * var(--container-width));
  background-size: 300%;
  background-position: 92% 35%;
  z-index: 1;
}

.wrapper.bg-asterisk-orange::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/asterisk-tintedorange-rotated.svg") no-repeat;
  height: 100%;
  width: calc(0.25 * var(--container-width));
  background-size: 300%;
  background-position: 92% 35%;
  z-index: 1;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--content-padding);
  margin: 0 auto;
  position: relative;
}
.container.bg-asterisk-pink::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/asterisk-tintedpink-rotated.svg") no-repeat;
  height: 100%;
  width: 25vw;
  background-size: 300%;
  background-position: 92% 35%;
  z-index: 0;
}
.container.bg-asterisk-orange::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/asterisk-tintedorange-rotated.svg") no-repeat;
  height: 100%;
  width: 25vw;
  background-size: 300%;
  background-position: 92% 35%;
  z-index: 0;
}
.container.g-4x2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: var(--content-padding);
}
@media only screen and (max-width: 860px) {
  .container.g-4x2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x2 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.container.g-4x2 h2 {
  font-size: 3rem;
  margin: 0;
}
@media only screen and (max-width: 700px) {
  .container.g-4x2 h2 {
    font-size: 2.5rem;
  }
}
.container.g-4x2.gc-1v3 h2 {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  padding: var(--content-padding);
  z-index: 1;
}
@media only screen and (max-width: 860px) {
  .container.g-4x2.gc-1v3 h2 {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x2.gc-1v3 h2 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    padding-bottom: 0;
  }
}
.container.g-4x2.gc-1v3 div.gc-3x2 {
  grid-column: 2/span 3;
  grid-row: 1/span 2;
  padding: var(--content-padding);
  z-index: 1;
}
@media only screen and (max-width: 860px) {
  .container.g-4x2.gc-1v3 div.gc-3x2 {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x2.gc-1v3 div.gc-3x2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    padding-top: 0;
  }
}
.container.g-4x2.gc-2v2 div.gc-2x2-l {
  padding: var(--content-padding);
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
@media only screen and (max-width: 860px) {
  .container.g-4x2.gc-2v2 div.gc-2x2-l {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--content-padding);
  }
  .container.g-4x2.gc-2v2 div.gc-2x2-l div {
    grid-column: 2/span 1;
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x2.gc-2v2 div.gc-2x2-l {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    display: block;
  }
}
.container.g-4x2.gc-2v2 div.gc-2x2-r {
  padding: var(--content-padding);
  grid-column: 3/span 2;
  grid-row: 1/span 2;
}
@media only screen and (max-width: 860px) {
  .container.g-4x2.gc-2v2 div.gc-2x2-r {
    grid-column: 1/span 3;
    grid-row: 2/span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--content-padding);
  }
  .container.g-4x2.gc-2v2 div.gc-2x2-r div {
    grid-column: 2/span 1;
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x2.gc-2v2 div.gc-2x2-r {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    display: block;
  }
}
.container.g-4x3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: var(--content-padding);
}
@media only screen and (max-width: 860px) {
  .container.g-4x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x3 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.container.g-4x3 h2 {
  font-size: 3rem;
  margin: 0;
}
@media only screen and (max-width: 700px) {
  .container.g-4x3 h2 {
    font-size: 2.5rem;
  }
}
.container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x2 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  padding: var(--content-padding);
}
@media only screen and (max-width: 860px) {
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x2 {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--content-padding);
  }
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x2 div {
    grid-column: 2/span 1;
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x2 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    display: block;
  }
}
.container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x3 {
  grid-column: 3/span 2;
  grid-row: 1/span 3;
  padding: var(--content-padding);
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 860px) {
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x3 {
    grid-column: 1/span 3;
    grid-row: 2/span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--content-padding);
  }
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x3 div {
    grid-column: 2/span 1;
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x3 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    display: block;
  }
}
.container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x3.bg-asterisk-pink::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../assets/asterisk-tintedpink-rotated.svg") no-repeat;
  height: 50%;
  width: 100%;
  background-size: 150%;
  background-position: 10% 10%;
  z-index: -1;
}
.container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x1 {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  padding: var(--content-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 860px) {
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x1 {
    grid-column: 1/span 3;
    grid-row: 3/span 1;
  }
}
@media only screen and (max-width: 700px) {
  .container.g-4x3.gc-2x2v2x3v2x1 div.gc-2x1 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
}

.button-darkorange {
  background: var(--darkorange);
  padding: 5px 22px 5px 10px;
  border-radius: var(--small-content-padding);
  text-decoration: none;
}

blockquote.bg-quotation-darkrose, blockquote.bg-quotation-pink {
  position: relative;
}
blockquote.bg-quotation-darkrose div, blockquote.bg-quotation-pink div {
  position: relative;
  z-index: 1;
}
blockquote.bg-quotation-darkrose::before, blockquote.bg-quotation-pink::before {
  content: "";
  width: 6em;
  height: 6em;
  background: url("../assets/quotationmarks-darkrose.svg") no-repeat center center;
  z-index: 0;
  position: absolute;
  top: -2em;
  left: -2.5em;
}
blockquote.bg-quotation-darkrose.bg-quotation-pink::before, blockquote.bg-quotation-pink.bg-quotation-pink::before {
  background: url("../assets/quotationmarks-pink.svg") no-repeat center center;
}

ul li.marker-clock::marker {
  content: "\f017";
  font-family: "FontAwesome";
}

footer .footer-flag span {
  display: block;
  height: 7px;
  width: 100%;
}
footer .footer-links div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .footer-links div a.nav-item {
  height: auto;
  min-height: auto;
  text-align: center;
}

@media only screen and (max-width: 530px) {
  footer .footer-links div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */